%label.checkbox.primary{for: "checkbox#{row_index}"}
  %span.icons
    %span.first-icon.fui-checkbox-unchecked
    %span.second-icon.fui-checkbox-checked
  %input{id: "checkbox#{row_index}", "data-toggle" => "checkbox", type: "checkbox", value: ""}
