.input-group.input-group-sm.input-group-rounded
  %span.input-group-btn
    %button.btn{type: "submit"}
      %span.fui-search
  %input#search-query-2.form-control{placeholder: "Search", type: "text", "aria-controls" => "DataTables_Table_1"}
