=render 'dropdown_menu', dropdown_id: dropdown_id
=link_to "##{link_id}", class: "pull-right", data:{toggle: "collapse"}  do
  %span.fui-arrow-right.black{data:{toggle: "tooltip", placement: "top", title: "#{t('.collapse')}"}}
%span.fui-plus.black.pull-right{data:{toggle: "tooltip", placement: "left", title: "#{t('.resize')}"}}
