%ul.pagination-plain.pull-right
  %li.previous= link_to t('.previous'), "#"
  %li=link_to "1", "#"
  %li=link_to "2", "#"
  %li=link_to "3", "#"
  %li=link_to "4", "#"
  %li.active=link_to "5", "#"
  %li=link_to "6", "#"
  %li=link_to "7", "#"
  %li=link_to "8", "#"
  %li=link_to "9", "#"
  %li=link_to "10", "#"
  %li.next= link_to t('.next'), "#"
