%ul.pagination-plain.pull-right
  %li.previous= link_to t('.previous'), "#"
  %li{class: page.eql?(1) ? "active" : ""}=link_to "1", "#"
  %li{class: page.eql?(2) ? "active" : ""}=link_to "2", "#"
  %li{class: page.eql?(3) ? "active" : ""}=link_to "3", "#"
  %li{class: page.eql?(4) ? "active" : ""}=link_to "4", "#"
  %li{class: page.eql?(5) ? "active" : ""}=link_to "5", "#"
  %li{class: page.eql?(6) ? "active" : ""}=link_to "6", "#"
  %li{class: page.eql?(7) ? "active" : ""}=link_to "7", "#"
  %li{class: page.eql?(8) ? "active" : ""}=link_to "8", "#"
  %li{class: page.eql?(9) ? "active" : ""}=link_to "9", "#"
  %li{class: page.eql?(10) ? "active" : ""}=link_to "10", "#"
  %li.next= link_to t('.next'), "#"
