$green: rgb(71, 201, 175);
$toxic-green: rgb(134, 209, 53);
$salad: #1abc9c;
$grey: rgb(53, 64, 85);
$light-grey: #d3d7da;
$dark-grey: rgb(37, 45, 65);
$white: rgb(255, 255, 255);
$cream: rgb(249, 246, 245);
$black:  #111;
