// Temporary workaround for Rails 4.1.2 pending releaase of bootstrap-sass 3.1.2
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"

// import the CSS framework
@import 'flat-ui/variables';
@import 'bootstrap';
// @import "bootstrap3-switch";
@import 'flat-ui';
@import 'switch';

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

.column-and-a-half{
  width: 12.498%;
  display: inline-block;
  // display: table-cell;
}

html, body {
  height:100%;
}

body {
  font-size: medium;
}

.left-column {
  @extend .col-xs-4;
}

.right-column {
  @extend .col-xs-8;
}

.column {
  @extend .col-xs-6;
  @extend .text-center;
}
.form {
  @extend .col-xs-6;
}
.form-centered {
  @extend .col-xs-6;
  @extend .text-center;
}
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}
main {
  // @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
}
section {
  @extend .row;
  margin-top: 20px;
}
.home{
  @include container-fixed();

  @media (min-width: $screen-sm) {
    width: $container-sm;
    font-size: small;
  }
  @media (min-width: $screen-md) {
    width: $container-md;
    font-size: normal;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
    font-size: medium;
  }
}

ul.nav.navbar-nav {
  @media (min-width: $screen-sm) {
    font-size: .6em;
  }

  @media (min-width: $screen-md) {
    font-size: .8em;
  }
  @media (min-width: $screen-lg-min) {
    font-size: 1em;
  }
}
