$screen-sm-min: 768px;
$screen-md-min: 980px;
$screen-lg-min: 1200px;

@import 'flat-ui/variables';
$grid-float-breakpoint: $screen-md-min;

@import 'bootstrap';
@import 'flat-ui';
@import 'colors';

@mixin title($color: $white, $size: .9em){
  color: $color;
  text-transform: uppercase;
  font-size: $size;
}

%vertical-align {
  position: relative;
  top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.green {
  background-color: $green;
}

.toxic-green {
  background-color: $toxic-green;
}

.grey {
  background-color: $grey;
}

.dark-grey {
  background-color: $dark-grey;
}

.white {
  background-color: $white;
}

.black {
  color: $black;
}

.cream {
  background-color: $cream;
}

.stats li {
  width: 33.3%;
  float: left;
  padding-right: 5%;
}

.image {
  border: 0 none;
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  margin: {
    top:100px;
    bottom: 100px;
  }
}

.logo {
  vertical-align: middle;
}

.selected{
  @extend .dark-grey;
}

.grey-stripe {
  @extend .grey;
  @extend .container-fluid;
  height: 160px;
}

.horizontal-menu {
  margin-top: -130px;
  p {
    @include title($white, 1em);
  }
}

.lightbulb {
  position: absolute;
  background-color: $dark-grey;
  right:0;
  height: 53px;
}

.dropdown-header {
  font-size: .7em;
}

.dropdown-menu {
  font-size: .8em;
}

span.fui-plus, span.fui-cross, .dropdown-toggle {
  cursor: pointer;
}

.story {
  .story_date {
    font:{
      style: italic;
    }
  }

  .story_text {
    padding-top: 20px;
  }

  .story_title {
    font:{
      weight: bold;
    }
  }
}

.wide-green-button {
  @extend .btn, .btn-default, .btn-wide, .btn-embossed, .toxic-green;
}

.filter{
  // @extend .col-xs-8;
  height: 100px;
  -webkit-transform-style: preserve-3d;
  // display: table;
}

.center-y {
  @extend %vertical-align;
}

.vcenter {
  // display: table-cell;
  // height: 100%; 
  display:table-cell; 
  vertical-align: middle;
}

.dashboard {
  @extend .white;
  @extend .row;
}

// Overrides
.panel {
  @extend .cream;
}

.panel-title {
  @include title($green,.8em);
}

.panel-footer {
  @extend .white;
  text-align: center;
}

.pagination-plain {
  a {
    color: $light-grey;
  }
}

span.navbar-new.green { 
  top: 20%; 
  right: 28px;
}

.navbar-nav > li > a {
  @include title(black, .7em);
}
