%nav.navbar.navbar-default.navbar-fixed-top.white{role: :navigation}
  = image_tag 'icon_lightbulb.png', class: "lightbulb"
  .container-fluid
    .col-xs-offset-1.col-xs-10
      %ul.nav.navbar-nav.col-xs-12
        = render 'layouts/navigation_links'
